<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
				http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 读取属性配置文件 -->
	<bean id="globalSettingConfigurer" class="com.chinazyjr.weihi.utils.GlobalSettingConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<!-- 数据连接池属性 -->
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- bean config for database and c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${db.default.driver}" />
		<property name="jdbcUrl" value="${db.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="idleConnectionTestPeriod" value="${pool.c3p0.idle_connection_test_period}" />
		<property name="preferredTestQuery" value="${pool.c3p0.preferred_test_query}" />
		<property name="maxIdleTime" value="${pool.c3p0.max_idle_time}" />
		<!-- 当连接池里面的链接用完的时候, c3p0一次性获取的连接数 -->
		<property name="acquireIncrement" value="${pool.c3p0.acquire_increment}" />
		<!-- 最大连接数 -->
		<property name="maxPoolSize" value="${pool.c3p0.max_size}" />
		<!-- 最小连接数 -->
		<property name="minPoolSize" value="${pool.c3p0.min_size}" />
	</bean>
	

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" propagation="REQUIRED" />
			<tx:method name="find*" read-only="true" propagation="REQUIRED" />
			<tx:method name="save*" read-only="false" propagation="REQUIRED" />
			<tx:method name="update*" read-only="false" propagation="REQUIRED" />
			<tx:method name="remove*" read-only="false" propagation="REQUIRED" />
			<tx:method name="upload*" read-only="false" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:pointcut id="transactionPointCuts"
			expression="execution (* com.chinazyjr.weihi.service.*.*(..))" />
		<aop:advisor pointcut-ref="transactionPointCuts"
			advice-ref="txAdvice" />
	</aop:config>

	<!-- Spring iBatis SqlMapClient -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage"
				  value="com.chinazyjr.weihi.po" />
		<property name="configLocation" value="classpath:mybatis-setting.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<!-- 配置邮件线程池 -->
	<bean id="mailThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	   <!-- 线程池维护线程的最少数量 -->
	   <property name="corePoolSize" value="10" />
	   <!-- 线程池维护线程所允许的空闲时间 -->
	   <property name="keepAliveSeconds" value="30000" />
	   <!-- 线程池维护线程的最大数量 -->
	   <property name="maxPoolSize" value="200" />
	   <!-- 线程池所使用的缓冲队列 -->
	   <property name="queueCapacity" value="1000" />
	</bean>
	
</beans>
